*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header{
    background-color: rgb(136, 255, 167);
    height: 10vh;
    border: 3px solid black;
}

#link_proj{
    font-size:26px ;
}

main{
    background-color: rgb(238, 238, 238);
    height: 90vh;
}